# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

WARNING:tensorflow:From c:\Users\Stephen Haldi\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [4]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [5]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [6]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [8]:
# Define the target set y using the credit_ranking column
X = loans_df.drop(columns=["credit_ranking"])
y = loans_df["credit_ranking"]

# Display a sample of y
y.head()

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [9]:
# Define features set X by selecting all columns but credit_ranking


# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [10]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [11]:
# Create a StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_train_scaled = scaler.fit_transform(X_train)


# Fit the scaler to the features training dataset
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [12]:
# Define the the number of inputs (features) to the model
n_features = X_train_scaled.shape[1]


# Review the number of features
n_features

11

In [13]:
# Define the number of hidden nodes for the first hidden layer
n_nodes_first_hidden_layer = n_features * 2

# Define the number of hidden nodes for the second hidden layer
n_nodes_second_hidden_layer = n_features

# Define the number of neurons in the output layer
n_output_neurons = 1

In [14]:
# Create the Sequential model instance
model = Sequential()


# Add the first hidden layer
model.add(Dense(n_nodes_first_hidden_layer, input_dim=n_features, activation='relu'))


# Add the second hidden layer
model.add(Dense(n_nodes_second_hidden_layer, activation='relu'))


# Add the output layer to the model specifying the number of output neurons and activation function
model.add(Dense(n_output_neurons, activation='sigmoid'))

WARNING:tensorflow:From c:\Users\Stephen Haldi\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [15]:
# Display the Sequential model summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 22)                264

 dense_1 (Dense)             (None, 11)                253

 dense_2 (Dense)             (None, 1)                 12

=================================================================
Total params: 529 (2.07 KB)
Trainable params: 529 (2.07 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [16]:
# Compile the Sequential model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\Stephen Haldi\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [17]:
# Fit the model using 50 epochs and the training data
model.fit(X_train_scaled, y_train, epochs=50, batch_size=10)

Epoch 1/50
WARNING:tensorflow:From c:\Users\Stephen Haldi\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Stephen Haldi\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

128/128 [==============================] - 2s 2ms/step - loss: 0.6765 - accuracy: 0.5872
Epoch 2/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5745 - accuracy: 0.7037
Epoch 3/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5414 - accuracy: 0.7256
Epoch 4/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5245 - accuracy: 0.7389
Epoch 5/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5124 - accuracy: 0.7498
Epoch 6/50
128/128 [==============================] - 0s 2ms/step - loss: 0.5038 - accuracy: 0.7514
Epoch 7/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4948 - accuracy: 0.7631
Epoch 8/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4883 - accuracy: 0.7694
Epoch 9/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4802 - accuracy: 0.7717
Epoch 10/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4757 - accuracy: 0.7701
Epoch 11/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4720 - accuracy: 0.7694
Epoch 12/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4653 - accuracy: 0.7795
Epoch 13/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4630 - accuracy: 0.7764
Epoch 14/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4582 - accuracy: 0.7795
Epoch 15/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4535 - accuracy: 0.7834
Epoch 16/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4512 - accuracy: 0.7866
Epoch 17/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4463 - accuracy: 0.7912
Epoch 18/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4437 - accuracy: 0.7975
Epoch 19/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4412 - accuracy: 0.7936
Epoch 20/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4364 - accuracy: 0.7959
Epoch 21/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4345 - accuracy: 0.7952
Epoch 22/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4306 - accuracy: 0.7959
Epoch 23/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4298 - accuracy: 0.7967
Epoch 24/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4267 - accuracy: 0.8006
Epoch 25/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4244 - accuracy: 0.8014
Epoch 26/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4225 - accuracy: 0.8022
Epoch 27/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4206 - accuracy: 0.8108
Epoch 28/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4165 - accuracy: 0.8124
Epoch 29/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4163 - accuracy: 0.8100
Epoch 30/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4145 - accuracy: 0.8131
Epoch 31/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4105 - accuracy: 0.8124
Epoch 32/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4095 - accuracy: 0.8069
Epoch 33/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4078 - accuracy: 0.8147
Epoch 34/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4050 - accuracy: 0.8217
Epoch 35/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4036 - accuracy: 0.8194
Epoch 36/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4025 - accuracy: 0.8170
Epoch 37/50
128/128 [==============================] - 0s 2ms/step - loss: 0.4025 - accuracy: 0.8194
Epoch 38/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3984 - accuracy: 0.8194
Epoch 39/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3977 - accuracy: 0.8210
Epoch 40/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3980 - accuracy: 0.8194
Epoch 41/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3940 - accuracy: 0.8241
Epoch 42/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3940 - accuracy: 0.8225
Epoch 43/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3907 - accuracy: 0.8210
Epoch 44/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3890 - accuracy: 0.8288
Epoch 45/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3892 - accuracy: 0.8311
Epoch 46/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3868 - accuracy: 0.8296
Epoch 47/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3854 - accuracy: 0.8296
Epoch 48/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3833 - accuracy: 0.8296
Epoch 49/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3811 - accuracy: 0.8374
Epoch 50/50
128/128 [==============================] - 0s 2ms/step - loss: 0.3793 - accuracy: 0.8311

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [18]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
loss, accuracy = model.evaluate(X_test_scaled, y_test)


# Display the model loss and accuracy results
print(f"Loss: {loss}, Accuracy: {accuracy}")

10/10 [==============================] - 0s 2ms/step - loss: 0.5450 - accuracy: 0.7500
Loss: 0.54497230052948, Accuracy: 0.75

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [20]:
# Set the model's file path
model_file_path = "student_loans.keras"


# Export your model to a keras file
model.save(model_file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [22]:
from tensorflow.keras.models import load_model

# Set the model's file path
model.save('student_loans.keras')


# Load the model to a new object
loaded_model = load_model('student_loans.keras')

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [23]:
# Make predictions with the test data
predictions = loaded_model.predict(X_test_scaled)


# Display a sample of the predictions
print(predictions[:5])

10/10 [==============================] - 0s 2ms/step
[[0.2667196 ]
 [0.41358525]
 [0.981027  ]
 [0.67837435]
 [0.99313754]]

In [26]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_rounded = pd.DataFrame(predictions.round(), columns=['Predictions'])
predictions_rounded

     Predictions
0            0.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
315          1.0
316          0.0
317          0.0
318          1.0
319          1.0

[320 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [25]:
# Print the classification report with the y test data and predictions
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions_rounded))

              precision    recall  f1-score   support

           0       0.73      0.75      0.74       154
           1       0.77      0.75      0.76       166

    accuracy                           0.75       320
   macro avg       0.75      0.75      0.75       320
weighted avg       0.75      0.75      0.75       320

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**

In [ ]:
'''

Question 1.)

To build a recommendation system for student loan options, 
you would need to collect a variety of data that encompasses 
both the characteristics of the loans and the profiles of the 
students. Specifically, the data should include:

Loan Details: Interest rates, repayment terms, loan amounts, 
fees, eligibility criteria, lender information, and customer reviews. 
This information helps assess the financial aspects of each loan option.

Student Profiles: Financial situation (income, employment status), 
educational background (degree, institution), career goals, credit history, 
and borrowing history. Understanding the student's profile helps match them 
with the most appropriate loan options.

Market Data: General economic indicators, average loan amounts, 
interest rates, default rates, and graduation rates. This data 
provides context for the loan options and student circumstances.

Question 2.)

Given the nature of the data and the objective of the 
recommendation system, a content-based filtering method 
would be most suitable. This method uses detailed information 
about the loan options and student profiles to recommend loans 
that closely match the student's needs and qualifications.

Content-based filtering works well in this scenario because 
it can utilize the specific attributes of loans and students to 
make personalized recommendations. Unlike collaborative filtering, 
it does not rely on other users' behaviors, which is beneficial 
since loan choices are highly individualized and based on personal 
financial situations and goals.

Question 3.)

Data Privacy and Security: Student financial and personal 
data are sensitive. Ensuring the privacy and security of this 
data is paramount. Failing to do so could lead to legal issues 
and loss of trust.

Regulatory Compliance: Financial products, including student 
loans, are heavily regulated. The recommendation system must 
comply with all applicable laws and regulations, which can vary 
0significantly by region.

'''